* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a,
a:visited {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

.container {
  max-width: 1340px;
  margin: 0px auto;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding: 0px 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

body.lock {
  overflow: hidden;
}

.header {
  background-color: #080702;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 768px) {
  .header__box {
    padding: 10px 0;
  }
}

@media (max-width: 425px) {
  .header__box {
    padding: 0;
  }
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__submenu {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 100%;
  font-family: "Noto Sans";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: #080702;
}

.header__submenu.active {
  opacity: 1;
}

.header__submenu li:hover {
  background-color: #29aae3;
  cursor: pointer;
}

.header__submenu li:hover:active {
  background: #9033f9;
}

.header__box li {
  padding: 10px;
}

.header__navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 992px) {
  .header__navbar {
    position: fixed;
    top: -100%;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #080702;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .header__navbar.work {
    top: 0;
  }
}

.header__lang {
  margin-right: 20px;
  position: relative;
}

.header__lang.push {
  display: none;
}

.header__lang a {
  font-family: "Noto Sans";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding-right: 5px;
}

.header__item {
  padding-right: 31px;
}

@media (max-width: 992px) {
  .header__item {
    margin-bottom: 18px;
  }
}

.header__item:hover {
  color: #29aae3;
}

.header__item a {
  font-family: "Noto Sans";
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.header__item a:hover {
  color: #29aae3;
}

@media (max-width: 992px) {
  .header__item a {
    font-size: 18px;
  }
}

.header__item.register a {
  font-size: 18px;
  padding: 12px 18px;
  background: #29aae3;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
}

.header__item.register a:hover {
  color: #ffffff;
}

.header__item.register a:active {
  background: #9033f9;
}

@media (max-width: 992px) {
  .header__item.register a {
    padding: 8px 30px;
  }
}

.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.header__burger {
  display: none;
}

@media (max-width: 992px) {
  .header__burger {
    display: block;
    position: relative;
    width: 32px;
    height: 22px;
    z-index: 10;
    margin: 12px 0;
  }
}

.header__burger::before, .header__burger::after {
  content: "";
  position: absolute;
  background-color: white;
  left: 0;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__burger::before {
  top: 0;
}

.header__burger::after {
  bottom: 0;
}

.header__burger span {
  position: absolute;
  background-color: white;
  left: 0;
  top: 10px;
  width: 100%;
  height: 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.header__burger.on::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: 10px;
}

.header__burger.on::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 10px;
}

.header__burger.on span {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.tittle {
  background: url(../images/Main_picture.jpg);
  background-size: cover;
  background-position: 50% 50%;
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .tittle {
    margin-bottom: 44px;
  }
}

.tittle__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto";
  color: #ffffff;
  padding: 166px 0;
  max-width: 50%;
}

@media (max-width: 768px) {
  .tittle__box {
    min-width: 70%;
    padding: 130px 0;
  }
}

@media (max-width: 425px) {
  .tittle__box {
    min-width: 100%;
    padding: 100px 0;
  }
}

.tittle__name {
  font-size: 48px;
  line-height: 115%;
  font-weight: 500;
  margin-bottom: 32px;
}

@media (max-width: 1024px) {
  .tittle__name {
    font-size: 40px;
  }
}

@media (max-width: 768px) {
  .tittle__name {
    font-size: 32px;
  }
}

.tittle__text {
  font-size: 26px;
  line-height: 115%;
  font-weight: 500;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .tittle__text {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .tittle__text {
    font-size: 20px;
  }
}

.tittle__button {
  margin-top: 32px;
  background: #54a757;
  max-width: 290px;
}

.tittle__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.tittle__button:active {
  background: #0062cc;
}

.main-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 30px;
  -webkit-box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.1);
  border-radius: 26px;
}

.main-button a {
  font-family: "Roboto";
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
}

.opportunity {
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .opportunity {
    margin-bottom: 70px;
  }
}

@media (max-width: 768px) {
  .opportunity {
    margin-bottom: 45px;
  }
}

.opportunity__tittle {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  color: #434449;
  text-align: center;
  margin-bottom: 40px;
}

.opportunity__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -12px;
}

@media (max-width: 992px) {
  .opportunity__box {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.opportunity__picture {
  margin-bottom: 20px;
}

.opportunity__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  background: #f9f9f9;
  -webkit-box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  margin: 0 12px;
}

@media (max-width: 992px) {
  .opportunity__item {
    margin: 0 7px 24px;
    -webkit-box-flex: 1;
        -ms-flex: 1 1 48%;
            flex: 1 1 48%;
  }
}

.opportunity__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  padding: 26px;
}

@media (max-width: 768px) {
  .opportunity__card {
    padding: 0 60px;
  }
}

.opportunity__block {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-bottom: 40px;
}

.opportunity__name {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 22px;
  line-height: 26px;
  color: #29aae3;
  margin-bottom: 20px;
}

.opportunity__text {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #434449;
  margin-bottom: 20px;
}

.opportunity__elem {
  font-family: "Noto Sans";
  font-size: 16px;
  line-height: 22px;
  color: #434449;
  margin-bottom: 12px;
}

.opportunity__elem::before {
  content: url(../images/round.png);
  padding-right: 8px;
}

.opportunity__button {
  background: #54a757;
  max-width: 165px;
}

.opportunity__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.opportunity__button:active {
  background: #0062cc;
}

.footer {
  background: #53a8dd;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  color: #ffffff;
}

.footer__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 55px 0 24px;
  border-bottom: 1px solid #c4c4c4;
  margin-bottom: 30px;
}

.footer__item {
  padding-right: 26px;
}

.footer__item:last-child {
  padding-right: 0;
}

.footer__item a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.footer__links {
  margin-bottom: 30px;
}

.footer__links img {
  margin-right: 20px;
}

.footer__links img:last-child {
  margin-right: 0;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 85px;
}

@media (max-width: 768px) {
  .footer__info {
    margin-bottom: 50px;
  }
}

.footer__info span {
  font-size: 20px;
  line-height: 23px;
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .footer__info span {
    font-size: 15px;
  }
}

.info {
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .info {
    margin-bottom: 65px;
  }
}

@media (max-width: 768px) {
  .info {
    margin-bottom: 45px;
  }
}

.info__item {
  background: #f5f6f6;
}

.info__item:nth-child(2) {
  background: #ffffff;
}

.info__name {
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  padding-top: 70px;
  padding-bottom: 40px;
}

@media (max-width: 768px) {
  .info__name {
    font-size: 28px;
    line-height: 33px;
  }
}

.info__name-blue {
  color: #29aae3;
}

.info__name-purple {
  color: #9033f9;
}

.info__name-pink {
  color: #ff5966;
}

.info__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 75px;
}

@media (max-width: 768px) {
  .info__inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.info__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-family: "Noto Sans";
  font-size: 18px;
  line-height: 25px;
  color: #000000;
  max-width: 425px;
}

@media (max-width: 768px) {
  .info__text {
    margin: 0 auto;
  }
}

.info__button {
  margin-top: 30px;
}

.info__button:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.info__button-blue-button {
  background-color: #29aae3;
}

.info__button-blue-button:active {
  background: #9033f9;
}

.info__button-purple-button {
  background-color: #9033f9;
}

.info__button-purple-button:active {
  background: #54a757;
}

.info__button-pink-button {
  background-color: #ff5966;
}

.info__button-pink-button:active {
  background: #54a757;
}

@media (max-width: 768px) {
  .info__button {
    margin: 30px auto 0;
    width: 80%;
  }
}

@media (max-width: 425px) {
  .info__button {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .info__picture {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    padding: 30px 50px;
  }
}

.info__picture img {
  width: 100%;
  height: auto;
}

.video {
  margin-bottom: 100px;
}

@media (max-width: 768px) {
  .video {
    margin-bottom: 30px;
  }
}

.video__tittle {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  text-align: center;
  color: #434449;
  margin-bottom: 50px;
}

@media (max-width: 1024px) {
  .video__tittle {
    font-size: 24px;
  }
}

@media (max-width: 425px) {
  .video__tittle {
    font-size: 18px;
  }
}

.video__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.video__item iframe {
  margin-bottom: 100px;
}

@media (max-width: 1024px) {
  .video__item iframe {
    max-width: 700px;
    max-height: 390px;
  }
}

@media (max-width: 768px) {
  .video__item iframe {
    max-width: 500px;
    max-height: 280px;
    margin-bottom: 70px;
  }
}

@media (max-width: 600px) {
  .video__item iframe {
    max-width: 400px;
    max-height: 225px;
    margin-bottom: 50px;
  }
}

@media (max-width: 425px) {
  .video__item iframe {
    max-width: 300px;
    max-height: 170px;
  }
}

.video__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  color: #434449;
  margin-bottom: 60px;
}

@media (max-width: 1024px) {
  .video__info {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .video__info {
    font-size: 12px;
    margin-bottom: 30px;
  }
}

.video__info a,
.video__info span {
  font-family: "Roboto";
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 20px;
}

@media (max-width: 1024px) {
  .video__info a,
  .video__info span {
    font-size: 22px;
  }
}

@media (max-width: 425px) {
  .video__info a,
  .video__info span {
    font-size: 18px;
  }
}

.video__info a {
  color: #53a8dd;
}

.video__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.video__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
/*# sourceMappingURL=style.css.map */